@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.bluehehe,.brand-logo
{
  font-family: 'Grand Hotel',cursive;
}

.login-container {
    position: relative;
    border: 5px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    padding: 3px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;  /* Set a higher z-index to ensure the image is behind the overlay and card */
}

.overlay,
.card-panel {
    z-index: 2;  /* Set a higher z-index to ensure the overlay and card are on top of the image */
}

.link:hover {
    color: #808080;
}

body {
    font-family: "Audiowide", sans-serif;
    background-color: black;
}

.container {
    position: relative;
}

.card-title
{
    font-family: "Audiowide", sans-serif;
}


  
  
  .image-grid {
    display: flex;
  }
  
  .image-grid img {
    width: 50%; /* Each image takes up 50% of the container's width */
    height: auto; /* Maintain aspect ratio */
    padding: 5px;
    margin: 5px auto;
  }
  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    font-family: Audiowide,sans-serif;
}

.image-overlay h1 {
    font-size: 36px;
    margin: 0;
}


  

.home-card {
  max-width: 600px;
  margin: 26px auto;
  padding: 10px;
  box-shadow: 0 0 15px cadetblue;
  border: solid 10px cadetblue;
  background-color: rgb(235, 235, 235);
}

.card {
  width: 58%;
  height: 58%;
  margin: 3vh auto;
  box-shadow: 0 0 15px cadetblue;
  border-radius: 0.25rem;
  background-color: white;
  border: solid 10px cadetblue;
  margin-bottom: 30px;
}

.card-image {
  max-height: 60%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}

h6 {
  margin: 0;
}
